.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #2A77AE;
}

.subTitle {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.subsubTitle {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}